html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: lightgreen;
}

p {
    width: 400px;
    height: 40px;
    font-size: 28px;
    text-align: center;
    border-color: red;
    background-color: lightblue;
    color: green;
    margin: auto;
}